* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
  }
 
  
body {
    background: #fff;
  }


  .header{
    width: 100%;
    background-color: #0C2340;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .navigation-top{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation-top img{
    width: 150px;
  }
  
  .nav-links{
    flex: 1;
    text-align: right;  
  }
  
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
  
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  
  .nav-links ul li:hover::after{
    width: 100%;
  }
  
  .navigation-top .fa{
    display: none;
  }
  
  
  @media (max-width: 400px) {
  
    .nav-links ul li{
        display: block;
    }
  
    .nav-links{
        position: absolute;
        background: #0c2340;
        height: 50vh;
        width: 200px;
        border-bottom-left-radius: 50px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
  
    .navigation-top .fa{
        display: block;
        color: #444;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
  
    .nav-links ul{
        padding: 30px;
  
    }
  
    .nav-links ul li a{
      color: #fff;
      text-decoration: none;
      font-size: 13px;
    }
  }
  /*---navigation header ---*/

  .slider-body{
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }


   
      .container {
        justify-content: center;
        display: grid;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
      }
      
      .item {
        padding: 0.5em;
        background-color: transparent;
        font-weight: 700;
        color: var(--clr-light);
        background-color: #F5F5F5;
        margin: 10px;
      }

      .item-1{
        grid-row: 1/5;
        grid-column: 1/8;
        border-radius: 30px;
        background-color: #F5F5F5;
        border: 2px solid black;
      }
      
      .item-1 h2{
        text-align: center;
        position: relative;
        top: 20px;

      }

      .item-1 p{
        font-size: 13px;
        text-align: just;
        font-weight: 400;
        line-height: 2.5em;
        column-count: 2;
        column-gap: 50px;
        position: relative;
        top: 30px;
        left: 40px;
      }

      .item-2{
        grid-row: 1/3;
        grid-column: 13/17;
        background-color: #F5F5F5;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
      }

      .car-title{
        position: relative;
        bottom: 5px;
      }

      .price-miles{
        display: flex;
      }
      
      .car-price{
        position: relative;
        top: 10px;
        right: 30px;
        width: 100%;
        height: 100%;
      }

      .car-price h2{
        color: green;
        text-align: center;
        font-size: 32px;
      }

      .car-price p{
        font-size: 16px;
        text-align: center;
        line-height: 30px;
      }

      .divider{
        background-color: black;
        position: relative;
        border: 50px;
        top: 13px;
        right: 10px;
        width: 10px;
        height: 60px;
      }

      .miles{
        position: relative;
        top: 10px;
        left: 13px;
      }

      .miles h2{
        color: green;
        text-align: center;
        font-size: 32px;
      }

      .miles p{
        line-height: 30px;
        text-align: center;
        font-size: 16px;
      }
      .item-3{
        grid-row: 3/7;
        grid-column: 13/17;
        background-color: #fefefe;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
      }

      .item-3-button{
        right: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        margin: 15px;
        border: none;
        width: 300px;
        height: 55px;
        border-radius: 6px;
        background-color: #537188;
        cursor: pointer;
        transition: 0.2s all ease;
      }

      .item-3-button:hover{
        background-color: #fefefe;
        border: 2px solid black;
        color: black;
      }

      .item-4{
        grid-row: 1/5;
        grid-column: 8/13;
        background-color: #fefefe;
        border: 2px solid black;
        border-radius: 30px;
      }



      .square-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 8px;
        background-color: transparent;
        border: 3px solid #444;
        border-radius: 30px;
      }


      .square-icon img{
        width: 60px;
      }

      .row-1-icon{
        display: flex;
      }



      .item-5{
        background-color: #F5F5F5;
        border: 2px solid black;;
        grid-row: 5/7;
        grid-column: 7/13;
        border-radius: 30px;


      }

      .financing-title h2{
        position: relative;
        top: 25px;
        text-align: center;
        font-size: 32px;
      }


      .financing-title p{
        text-align: center;
        position: relative;
        top: 25px;
      }
      
      .take-me-there{
        right: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border: none;
        padding: 12px 30px;
        border-radius: 6px;
        background-color: #537188;
        cursor: pointer;
        position: relative;
        left: 35%;
        top: 50px;
        transition: .2s all ease;
      }

      .take-me-there:hover{
        background-color: #fefefe;
        border: 2px solid black;
        color: black;
      }

      .item-6{
        background-color: #fefefe;
        border: 2px solid black;
        grid-row: 5/7;
        grid-column: 1/7;
        border-radius: 30px;
      }

      .crypto-card h2{
        position: relative;
        top: 25px;
        text-align: center;
        font-size: 32px;
      }

      .crypto-card p{
        text-align: center;
        position: relative;
        top: 30px;
      }

      .cypto-btn{
        right: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border: none;
        padding: 12px 40px;
        border-radius: 6px;
        background-color: #537188;
        cursor: pointer;
        position: relative;
        top: 50px;
        left: 34%;
        transition: .2s all ease;
      }

      .cypto-btn:hover{
        background-color: #fefefe;
        border: 2px solid black;
        color: black;
      }

      .pick-up-and-delivery-layout{
        background-color: #fefefe;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .pick-up-and-delivery-layout img{
        position: relative;
        right: 100px;
        width: 100px;
      }

      .pick-up-and-delivery-layout h2{
        position: relative;
        right: 70%;
        text-align: center;
        font-size: 32px;
      }

      .pick-up-and-delivery-layout p{
        text-align: center;     
        position: relative;
        right: 70%;  
      }

      .devider{
        height: 200px;
        width: 10px;
        background-color: #537188;
      }

      .delivery-box img{
        position: relative;
        left: 350px;
      }

      .delivery-box h2{
        text-align: center;
        position: relative;
        left: 100%;
      }

      .delivery-box p{
        text-align: center;
        position: relative;
        left: 100%;

      }

      .insurance-cov-body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 180px;

      }

      .txt-img-body{
        display: flex;
        justify-content: center;
        width: 80%;
        background-color: #fefefe;
        border-top: 2px solid black;
        border-bottom: 2px solid black;

      }
      
      .text-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
      }

      .text-body h2{
        font-size: 32px;
        position: relative;
        right: 15px;
      }
      
      .text-body p{
        position: relative;
        top: 15px;
      }

      .learn-more{
        font-weight: 400;
        color: #fff;
        border: none;
        padding: 12px 30px;
        border-radius: 6px;
        background-color: #537188;
        position: relative;
        top: 30px;
        cursor: pointer;
      }

      .image-body img{
        padding-top: 5px;
        width: 160px;
      }


      .carfax-certified-moneyback-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .carfax-box{
        background-color: #F5F5F5;
        height: 150px;
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
      }

      .carfax-box p{
        line-height: 40px;
      }

      .view-carfax-report{
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border: none;
        padding: 12px 30px;
        border-radius: 6px;
        background-color: #537188;
        cursor: pointer;
        position: relative;
        top: 15px;
        transition: .2s all ease;
      }

      .view-carfax-report:hover{
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transform: scale(1.03);
        transition: all 0.5s ease;
    }

    .certified-box{
      background-color: #F5F5F5;
      height: 150px;
      padding: 20px;
      border-radius: 10px;
      margin: 10px;
    }

    .certified-box p{
      line-height: 40px;
    }

    .cpo-learn-more{
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      border: none;
      padding: 12px 30px;
      border-radius: 6px;
      background-color: #537188;
      cursor: pointer;
      position: relative;
      top: 15px;
      transition: .2s all ease;
    }

    .cpo-learn-more:hover{
      background-color: #fff;
      color: #000;
      cursor: pointer;
      transform: scale(1.03);
      transition: all 0.5s ease;
  }




      @media screen and (max-width: 1400px){
        
        .container {
            justify-content: center;
            display: grid;
            grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
            grid-template-columns: 100px 100px 100px  100px 100px 100px 100px 100px;
          }
      
          
        .item-1{
            grid-row: 1/5;
            grid-column: 1/8;
            background-color:#fefefe;
            border: 0px;
          } 

          .item-2{
            grid-row: 1/3;
            grid-column: 8/12;
            background-color: #fefefe;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
          }

          .car-title{
            font-weight: 400;
            position: relative;
            bottom: 5px;
          }

          .item-3{
            grid-row: 3/7;
            grid-column: 8/12;
            background-color: #fefefe;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0px;
          }

          .item-3-button:hover{
            background-color: #fefefe;
            border: 2px solid black;
            color: black;
          }
    

          .item-4{
            display: flex;
            grid-row: 7/9;
            grid-column: 1/12;
            background-color: #fefefe;
            border-radius: 30px;
          }


          .square-icon img{
            width: 20px;
          }

          .square-icon{
            position: relative;
            top: 25px;
            width: 72px;
            height: 100px;
          }


          .item-5{
            background-color: #fefefe;
            grid-row: 5/7;
            grid-column: 5/8;
            border-radius: 30px;
    
    
          }

          .item-6{
            background-color: #fefefe;
            grid-row: 5/7;
            grid-column: 1/4;
            border-radius: 30px;
          }

          .cypto-btn{
            position: relative;
            top: 50px;
            left: 18%;
          }

          .take-me-there{
            position: relative;
            left: 14%;
            top: 50px;
          }

          .pick-up-and-delivery-layout img{
            position: relative;
            right: 100px;
            width: 100px;
          }
    
          .pick-up-and-delivery-layout h2{
            position: relative;
            right: 80%;
            text-align: center;
            font-size: 32px;
          }
    
          .pick-up-and-delivery-layout p{
            text-align: center;     
            position: relative;
            right: 80%;  
          }

          .delivery-box img{
            position: relative;
            left: 200px;
          }
    
          .delivery-box h2{
            text-align: center;
            position: relative;
            left: 50%;
          }
    
          .delivery-box p{
            text-align: center;
            position: relative;
            left: 50%;
    
          }

          .devider{
            position: relative;
            right: 25px;
            height: 200px;
            width: 10px;
            background-color: #537188;
          }

          .carfax-box p{
            line-height: 20px;
          }

          .certified-box p{
            line-height: 20px;
          }
      }


      @media screen and (max-width: 400px){

        .container {
            width: 390px;
            position: relative;
            display: flex;
            flex-direction: column;
            right: 7px;
          }

          .item-1{
            width: 385px;
            height: 450px;
            margin: 0;
            position: relative;
            top: 20px;
            border-radius: 0px;
            background-color:#fefefe;
          }
          
          .item-1 h2{
            text-align: center;
            position: relative;
            top: 30px;
            color: #537188;
          }
    
          .item-1 p{
            position: relative;
            top: 30px;
            left: 5px;
            column-gap: 5px;
            color: #537188;
          }
    

          .item-2{
            background-color: #fefefe;
            height: 150px;
            width: 385px;
            border-radius: 30px;
          }

          .car-title{
            color: #000;
          }
    
          .price-miles{
           color: #537188;
          }
    
          .car-price h2{
            color: green;
          }
    
          .car-price p{
            color: #000;
          }

          .miles h2{
            color: black;
            text-align: center;
            font-size: 32px;
          }
    
          .miles p{
            color: #000;
          }

          .item-3{
            width: 385px;
            background-color: #fefefe;
          }
    
          .item-3-button{
            border-radius: 50px;
            right: 20px;
            width: 350px;
            height: 55px;
          }

          .item-4{
            width: 385px;
            height: 530px;
            background-color: #fefefe;
            border-radius: 30px;
          }

          .square-icon{
            display: flex;
            flex-direction: column;
            width: 100px;
            height: 100;
            margin: 8px;
            position: relative;
            left: 10px;
          }

          .row-1-icon{
            display: flex;
            flex-direction: column;
          }

          .square-icon img{
            width: 50px;
          }

          .item-5{
            background-color: #fefefe;
            width: 385px;
            height: 150px;
            border-radius: 30px;
          }
    
          .financing-title h2{
            position: relative;
            top: 5px;
            text-align: center;
            font-size: 32px;
            color: #537188;
          }
    
    
          .financing-title p{
            text-align: center;
            position: relative;
            top: 5px;
            color: #537188;
          }
          
          .take-me-there{
            right: 20px;
            position: relative;
            left: 25%;
            top: 20px;
          }

          .item-6{
            background-color: #fefefe;
            width: 385px;
            height: 150px;
            border-radius: 30px;
          }
    
          .crypto-card h2{
            position: relative;
            top: 5px;
            text-align: center;
            font-size: 32px;
            color: #537188;
          }
    
          .crypto-card p{
            text-align: center;
            position: relative;
            top: 5px;
            color: #537188;
          }
    
          .cypto-btn{
            right: 20px;
            position: relative;
            top: 35px;
            left: 28%;
          }

          .pick-up-and-delivery-layout{
            position: relative;
            right: 2%;
            border-radius: 30px;
          }

          .pick-up-and-delivery-layout img{
            position: relative;
            left: 50px;
          }
    
          .pick-up-and-delivery-layout h2{
            position: relative;
            right: 2%;
            text-align: center;
            font-size: 32px;
          }
    
          .pick-up-and-delivery-layout p{
            text-align: center;     
            position: relative;
            right: 2%;  
          }

          .delivery-box img{
            position: relative;
            left: 45px;
          }
    
          .delivery-box h2{
            text-align: center;
            position: relative;
            left: 0%;
          }
    
          .delivery-box p{
            text-align: center;
            position: relative;
            left: 0%;
    
          }

          .devider{
            position: relative;
            right: 5px;
            height: 200px;
            width: 10px;
            background-color: #537188;
          }

          .insurance-cov-body{
            height: 300px;
    
          }
    
          .txt-img-body{
            position: relative;
            right: 3px;
            height: 240px;
            width: 90%;
          }
          
          .text-body{
            position: relative;
            bottom: 15px;
            left: 15px;
          }
    
          .text-body h2{
            font-size: 32px;
            text-align: left;
            position: relative;
            right: 25px;
          }
          
          .text-body p{
            position: relative;
            top: 15px;
            right: 25px;
          }
    
          .learn-more{
            font-weight: 400;
            color: #fff;
            border: none;
            padding: 12px 30px;
            border-radius: 6px;
            background-color: #537188;
            position: relative;
            top: 30px;
            right: 30px;
            cursor: pointer;
          }
    
          .image-body img{
            padding-top: 25%;
            width: 160px;
          }

          .carfax-certified-moneyback-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .carfax-box{
            height: 160px;
          }

          .certified-box{
            height: 160px;
          }

          .certified-box p{
            line-height: 20px;
          }

          .carfax-box p{
            line-height: 20px;
          }
      }









       /*---foot bar ---*/
.container-04{
  max-width: 1170px;
  margin: auto;
}
.row-cont{
  display: flex;
  flex-wrap: wrap;
}

.ul{
    list-style: none;
  }

  .footer{
    background-color: #24262b;
    padding: 70px 0;
  }

  .footer-col{
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}


.footer ul li a:hover{
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 2555, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;

  }

  .footer-col {
    width: 90%;

  }
}