
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background: #f0faff;
}

.header{
  width: 100%;
  background-color: #0C2340;
  background-position: center;
  background-size: cover;
  position: relative;
}

.navigation-top{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.navigation-top img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;  
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.navigation-top .fa{
  display: none;
}


@media (max-width: 400px) {

  .nav-links ul li{
      display: block;
  }

  .nav-links{
      position: absolute;
      background: #0c2340;
      height: 50vh;
      width: 200px;
      border-bottom-left-radius: 50px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 0.5s;
  }

  .navigation-top .fa{
      display: block;
      color: #444;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }

  .nav-links ul{
      padding: 30px;

  }

  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
}
/*---navigation header ---*/

.index-top-layout{
  background-image: url(IMG/wallpaper.jpg);
  background-size: cover;
  background-position: 50% 70%;
  height: 50vh;
  overflow: hidden;
}

.index-text-box h2{
  position: relative;
  left: 500px;
  top: 250px;
  width: 1000px;
  font-size: 66px;
  color: #fff;
  text-align: center;
 
}


@media (max-width: 400px){
  .index-text-box h2{
    position: relative;
    font-size: 48px;
    left: 40px;
    top: 130px;
    width: 300px;
  }
}

@media (max-width: 1200px){
  .index-text-box h2{
    position: relative;
    font-size: 52px;
    top: 90%;
  }
}





/*---search bar ---*/
.search-bar-body{
    position: relative;
    left: 0%;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #374969; 
}

.input-box{
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.input-box i,
.input-box .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i{
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button{
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #537188;
    cursor: pointer;
}

.input-box .button.clicked{
    transform: translateY(-50%) scale(0.98);
}

@media screen and (max-width: 500px){
    .input-box {
        height: 66px;
        margin: 0 8px;

    }

    .input-box i{
        left: 12px;
        font-size: 25px;
    }

    .input-box input{
        padding: 0 112px 0 50px;
    }

    .input-box .button{
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;

    }
    .search-bar-body{
      position: relative;
      left: 0;
      height: 100px;
      width: 100%;
      border-radius: 0;
    }

  
}
/*---search bar ---*/

/*---top tier models ---*/
.top-tier-title{
    width: 30%;
    text-align: center;
    color: #444;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


h1{
    font-size: 46px;
    font-weight: 600px;
    text-align: center;
}

.container_02 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: #EFF5F5;
    width: 320px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    background-color: aqua;
    height: 170px;
    margin-bottom: 15px;
    background-size: contain;
    border-radius: 15px 15px 00;
}

.car-1{
    background-image: url(IMG/CARS/PORSCHE_MACAN_2022.jpg);
}
.car-2{
    background-image: url(IMG/CARS/AUDI_S5_2018.jpg);
}
.car-3{
    background-image: url(IMG/CARS/RANGE_ROVER_2024.jpg);
}
.car-4{
    background-image: url(IMG/CARS/MAZDA_CX5_2020.jpg);
}
.car-5{
    background-image: url(IMG/CARS/JEEP_GLADIATOR_2020.png);
}

.card p{
    padding: 10px;
    text-align: left;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    
}

.card h2{
    padding: 10px;
    text-align: left;
    line-height: 1;
    font-weight: 400;

}
.card h3{
    padding: 10px;
    text-align: left;
    font-weight: 600;
    line-height: 0.5;
    color: #000;
}

.card a{
    background-color: #0c2340;
    color: #fff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 15px;
}

.card:hover{
    background-color: #E3F4F4;
    color: #000;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}
/*---top tier models ---*/




 /*---get pre-approved now ---*/
 .caixa_03_body{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #303B59;
}

.caixa_03{
  width: 75%;
}

.caixa_03_img{
  width: 50%;
  float: right;
  position: relative;
  top: 30px;
  left: 20px;
  border-radius: 10px;
  margin-left: 30px;
  
}

.caixa_03_text-box{
  color: #fff;
}

.caixa_03_text-box h2{
  font-size: 42px;
  text-align: right;
  padding-top: 3%;
}

.caixa_03_text-box p{
  font-size:  20px;
  text-align: justify;
}

@media(max-width:790px){
  .caixa_03_body{
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
  }
  .caixa_03{
      margin: 50px auto;
  }

  .caixa_03_img{
      width:200px;
      position: relative;
      top: -10px;

  }    

  .caixa_03_text-box h2{
      font-size: 42px;
      text-align: left;

  }
  .caixa_03_text-box p{
      font-size:  20px;
      margin: -25px;
      text-align: justify;
  }
  
}


@media only screen and (max-width:1320px){
.caixa_03_body{
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.caixa_03{
    margin: 50px auto;
}

.caixa_03_img{
    width: 50%;
    margin-bottom: 10px;
  }

  .caixa_03_text-box{
    color: #fff;
    width: 100%;
  }
}
/*---get pre-approved now ---*/



.tree-card-layout{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.cada-caixa{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  border: 2px solid #158663;
  border-radius: 10px;
  width: 450px;
  height: 500px;
  margin: 10px;
}

.top-title-financing h1{
  font-size: 20px;
  position: relative;
  right: 130px;
  top: 30px;
  color: #444;
}

.middle-title-financing h2{
  font-size: 30px;
  position: relative;
  right: 40px;
  top: 30px;
  color: #444;
}

.text-box-financing p{
  width: 350px;
  font-size: 20px;
  color: #444;
}

.card-btn-financing button{
  position: relative;
  top: 120px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  width: 350px;
  height: 50px;
  border-radius: 6px;
  background-color: #158663;
  cursor: pointer;
}











/*---4cards layout ---*/
.fcl-title h2{
  font-size: 46px;
  color: #0c2340;
  position: relative;
  top: 30px;
  left: 165px;
}

.wrapper-body-01{
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background: #f0faff;
}

.wrapper-01 {
  max-width: 1820px;
  width: 100%;
  position: relative;
}
.wrapper-01 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper-01 i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper-01 i:first-child{
  left: -22px;
}
.wrapper-01 i:last-child{
  right: -22px;
}
.wrapper-01 .carousel-01{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 0px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-01::-webkit-scrollbar {
  display: none;
}
.carousel-01.no-transition {
  scroll-behavior: auto;
}
.carousel-01.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-01.dragging .wrapper-card {
  cursor: grab;
  user-select: none;
}
.carousel-01 :where(.wrapper-card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-01 .wrapper-card {
  scroll-snap-align: start;
  width: 350px;
  height: 242px;
  list-style: none;
  background: #fff;
  border: 2px solid #0C2340;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius:30px;
}

.img img {
    width: 150px;
 }

.carousel-01 .wrapper-card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel-01 .wrapper-card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper-01 .carousel-01 {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper-01 .carousel-01 {
    grid-auto-columns: 100%;
  }

  .wrapper-body-01{
    gap: 16px;
  }

  .fcl-title h2{
    font-size: 36px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    top: 20px;
    left: 0px;
  }
}
/*---4cards layout ---*/

/*---VIEWOURINVENTORY/FLEXFITFINANCING6 ---*/
.wrapper-02-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.horizontal-body-01{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  background-color: #303B59;
  max-width: 1920px;
  width: 80%;
  height: 200px;
}

.horizontal-body-01 img{
  position: relative;
  left: 100px;
  height: 150px;
}

.text-body-01{
  text-align: left;
  color: #fff;
}

.text-body-01 h2{
  position: relative;
  left: 10px;
}

.button-body-01{
  background-color: transparent;
  position: relative;
  left: 550px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 2px solid #537188;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s all ease;
}

.button-body-01-02{
  background-color: transparent;
  position: relative;
  left: 690px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 2px solid #537188;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s all ease;
}

.button-body-01:hover{
  background-color: #fff;
  border: 3px solid #f0faff; 
  color: #000;
}

@media screen and (max-width: 1200px){
  .button-body-01{
    position: relative;
    left: 50px;
    right: 0px;
   
  }

  .button-body-01-02{
    position: relative;
    left: 50px;
    right: 0px;
  }

  .text-body-01{
    margin-top: 20px;
    margin-left: 150px;
    width: 300px;
    text-align: left;
  }

}

@media screen and (max-width: 600px){
  .horizontal-body-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 370px;
  }

  .horizontal-body-01 img{
    position: relative;
    left: 0px;
    top: 15px;
    height: 170px;
  }

  .text-body-01{
    margin-top: 20px;
    margin-left: 0px;
    width: 300px;
    text-align: center;
  }

  .text-body-01 h2{
    left: 0px;
  }

  .button-body-01{
    left: 0px;
   
  }

  .button-body-01-02{
    left: 0px;
  }

  
}
/*---VIEWOURINVENTORY/FLEXFITFINANCING6 ---*/

/*caixa_01_formating*/
.caixa_01_formating{
    background-color: #EFF5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  
  }
  
  .caixa_01_black{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) ,url(IMG/inventory_card.jpg);
    background-size: cover;
    margin: 3%;
    max-width: 100%;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    border: 5px solid #0c2340;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .caixa_01_02_black{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7))  ,url(IMG/crypto_card.jpg);
    background-size: cover;
    margin: 3%;
    max-width: 100%;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    border: 5px solid #0c2340;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .text_box_01{
    margin: 25px;
    position: absolute;
    top: 60%;
  }
  
  .text_box_01_02{
    color: #fff;
    margin: 25px;
    position: absolute;
    top: 60%;
  }
  
  .text_box_01 h1,
  .text_box_01_02 h1{
    color: #fff;
    text-align: left;
    font-size: 20px;
  }
  
  .text_box_01 p1,
  .text_box_01_02 p1{
    color: #fff;
    text-align: justify;
    font-size: 20px;
  }
  
  .hero-button_01 {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border: 3px solid #0c2340;
    border-radius: 18px;
    background-color: #fff;
    color:#202020;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 85%;
    left: 5%;
  }
  
  .hero-button_01:hover {
    background-color: #0c2340;
    border: 3px solid #fff; 
    color: #fff;
  }
/*caixa_01_formating*/

/*FIRST PAGE COLUNA FORMATING*/

.coluna{
    max-width: 1920px;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: justify;
    padding-top: 25px;
    background-color: transparent;

}

.box-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #fff;
}

.box-col:hover{
    box-shadow: 0 0 20px 0px rgba(64, 69, 54, 1.2);
    opacity: 2;
}

.box-col p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    
}

.coluna{

    display: flex;
    justify-content: space-between;
}

.box-col{
    flex-basis: 31%;
    background: #0c2340;
    border-radius: 20px;
    margin-bottom: 4%;
    padding: 5% 10px;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.45s;
}




@media(max-width: 700px){
    .coluna{
        flex-direction: column;
    }
}
/*FIRST PAGE COLUNA FORMATING*/

/*----start reviews card----*/



#reviews_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100PX;
    background-color: #EFF5F5;

}

.reviews_card-heading{
    letter-spacing: 1px;
    max-width: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reviews_card-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #fff;
    padding: 10px 20px;

}


.reviews_card-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.reviews_card-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.reviews_card-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.reviews_card_profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

}

.reviews_card_profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.reviews_card_profile{
    display: flex;
    align-items: center;
}

.reviews_card_name-user{
    display: flex;
    flex-direction: column;
}

.reviews_card_name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.reviews_card_name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.reviews_card_reviews{
    color: #f9d71c;
}

.reviews_card_box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reviews_card_client-comment p{
    text-align: left;
    font-size: 0.9rem;
    color: #4b4b4b;
}

.reviews_card-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px){
    .reviews_card-box{
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px){
    .reviews_card-box{
        width: 100%;
        padding: 10px;
    }

    .reviews_card-heading h1{
        font-size: 1.45;
    }
}

@media(max-width:340px){
    .reviews_card_box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews_card_reviews{
        margin-top: 10px;
    }
}
/*----finish reviews card----*/
















 

  /*---foot bar ---*/
.container_03{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.ul{
  list-style: none;
}

  .footer{
    background-color: #24262b;
    padding: 70px 0;
  }

  .footer-col{
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}


.footer ul li a:hover{
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 2555, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;

  }

  .footer-col {
    width: 90%;

  }
}