.tree-card-layout{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    border: 2px solid #158663;
    border-radius: 10px;
    width: 450px;
    height: 500px;
    margin: 10px;
}

.top-title h1{
    font-size: 20px;
    position: relative;
    right: 130px;
    top: 30px;
    color: #444;
}

.middle-title h2{
    font-size: 30px;
    position: relative;
    right: 40px;
    top: 30px;
    color: #444;
}

.text-box{
    width: 350px;
    font-size: 20px;
    color: #444;
}

.card-btn button{
    position: relative;
    top: 120px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    background-color: #158663;
    cursor: pointer;
}




.tree-card-layout{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.top-title-2 h1{
    font-size: 20px;
    position: relative;
    right: 70px;
    top: 30px;
    color: #444;
}

.middle-title-2 h2{
    font-size: 30px;
    position: relative;
    right: 48px;
    top: 30px;
    color: #444;
}

.text-box-2{
    width: 350px;
    font-size: 20px;
    color: #444;
}

.card-btn-2 button{
    position: relative;
    top: 140px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    background-color: #158663;
    cursor: pointer;
}




.top-title-3 h1{
    font-size: 20px;
    position: relative;
    right: 55px;
    top: 30px;
    color: #444;
}

.middle-title-3 h2{
    font-size: 30px;
    position: relative;
    right: 30px;
    top: 30px;
    color: #444;
}

.text-box-3{
    width: 350px;
    font-size: 20px;
    color: #444;
}

.card-btn-3 button{
    position: relative;
    top: 140px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 6px;
    background-color: #158663;
    cursor: pointer;
}