<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Document</title>
</head>
<body>

    <div class="nav-bar">
        <img class="logo" src="/static/IMG/index/certified.png" alt="">
        <ul>
        
            <li><a href="/">Home</a></li>
    
            <li>
                <a href="">How It Works</a>
    
                <ul class="dropdown">
                    <li><a href="#">Instructions</a></li>
                    <li><a href="#">Cauculate your Payment</a></li>
                </ul>
            </li>
    
            <li><a href="/">Inventory</a></li>

            <li>
                <a href="/">Commerce</a>

                <ul class="dropdown">
                    <li><a href="#">Sell</a></li>
                    <li><a href="#">Trade</a></li>
                    <li><a href="#">Cauculate your Retail</a></li>
                </ul>

            </li>

            <li><a href="/">Protection</a></li>

            <li><a href="/">Finance</a></li>
    
            <li><a href="/">Contact Us</a></li>
        </ul>
    </div>

    <div class="div-01-layout">
        
        <form action="" class="search-bar">
            <input type="text" placeholder="Search Make, Model or Keyword ...">
            <button><img class="search-icon" src="/static/IMG/index/search-icon.png" alt=""></button>
        </form>

    </div>

    <div class="div-02-layout">
        <h1 class="title-div-02">The Best Place to Find Great Used Cars.</h1>
        <p class="div-02-text-content">Explore a curated selection of quality used cars. Whether you're considering auto financing, refinancing, or have an exclusive pre-approved offer, we're here to guide you on your path to finding the ideal vehicle.</p>
    </div>

    <div class="div-03-layout">
        <div class="div-03-body">
            <h1 class="title-div-03">How it works</h1>

            <div class="div-03-icon">

                <div class="card card-01">
                    <img src="/static/IMG/index/div-03-icon/offer.png" alt="">
                    <h1 class="card-title">Get Your Offer</h1>
                    <p class="card-text-content">It takes 2 minutes.</p>
                </div>

                <div class="card card-02">
                    <img src="/static/IMG/index/div-03-icon/appointment.png" alt="">
                    <h1 class="card-title">Make an appointment</h1>
                    <p class="card-text-content">Redeem or compare within 7 days.</p>
                </div>

                <div class="card card-03">
                    <img src="/static/IMG/index/div-03-icon/contract.png" alt="">
                    <h1 class="card-title">Close Deal</h1>
                    <p class="card-text-content">We'll review your offer and pay you on the spot.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="div-04-layout">
        <div class="div-04-body">
            <div class="div-04-left">
                <h1 class="div-04-title">Trade In and Save on Your Purchase</h1>
                <p class="div-04-text-content">Save more when you trade-in the car you have for the car you want. It’s easy and all online.</p>
                
                <div class="buttons-div-04">
                    <a href="#"><button class="div-04-btn">Get Started</button></a>
                    <a href="#">Learn More</a>
                </div>
            </div>

            <div class="div-04-right">
                <img src="/static/IMG/index/tiasoyp.jpeg" alt="">
            </div>
            
        </div>
    </div>

    <div class="div-05-layout">
        <div class="card01 card-04">
            <h1 class="card01-title">Browse by Body Type</h1>
            <p class="bodytype">SEDAN</p>
            <img src="/static/IMG/index/body-type-icons/sedan.png" alt="">
            <a href="#">Shop Sedans</a>
        </div>

        <div class="card01 card-05">
            <h1 class="card01-title">Browse by Body Type</h1>
            <p class="bodytype">SUV</p>
            <img src="/static/IMG/index/body-type-icons/suv.png" alt="">
            <a href="#">Shop SUVs</a>
        </div>

        <div class="card01 card-06">
            <h1 class="card01-title">Browse by Body Type</h1>
            <p class="bodytype">Convertible</p>
            <img src="/static/IMG/index/body-type-icons/convertible-car.png" alt="">
            <a href="#">Shop Convertibles</a>
        </div>

        <div class="card01 card-07">
            <h1 class="card01-title">Browse by Body Type</h1>
            <p class="bodytype">truck</p>
            <img src="/static/IMG/index/body-type-icons/truck.png" alt="">
            <a href="#">Shop Trucks</a>
        </div>

    </div>

    <div class="div-06-layout">

        <h1 class="toptierdeals">Top-Tier Deals</h1>

        <div class="slider-container">
            <div class="slider" id="slider">
                <div class="slide">

                    <div class="car-card card-08">
                        <div class="card-img"></div>

                        <p class="car-condition">PRE-OWNED</p>

                        <h1 class="car-model">Porche Macan Base</h1>

                        <div class="car-details">
                            <div class="detail-div-right">
                                <p class="car-mileage">Mileage:</p>
                                <p class="car-exterior">Exterior:</p>
                            </div>

                            <div class="detail-div-left">
                                <p class="car-mileage">45,136</p>
                                <p class="car-exterior">Black</p>
                            </div>
                        </div>

                        <a href="#"><button class="check-deal">Check Out Deal</button></a>
                    </div>

                    <div class="car-overview">
                        <div class="overview-right">
                            <h1 class="overview-title">Overview</h1>
                            <h1 class="confort">Confort :</h1>
                            <p class="seats">Leather Seats<br>Heated Seats</p>
                            <h1 class="entertainment">Entertainment :</h1>
                            <p class="tech">AM/FM Stereo<br>Bose Sound System<br>Bluetooth Technology<br>WiFi Hotspot</p>
                            <h1 class="mechanical">Mechanical :</h1>
                            <p class="engine-tpype">All Wheel Drive<br>Automatic Transmission</p>
                        </div>

                        <div class="certified-icon-div">
                        
                        </div>
                    </div>

                </div>
                <div class="slide">

                    <div class="car-card card-08">
                        <div class="card-img"></div>

                        <p class="car-condition">PRE-OWNED</p>

                        <h1 class="car-model">Porche Macan Base</h1>

                        <div class="car-details">
                            <div class="detail-div-right">
                                <p class="car-mileage">Mileage:</p>
                                <p class="car-exterior">Exterior:</p>
                            </div>

                            <div class="detail-div-left">
                                <p class="car-mileage">45,136</p>
                                <p class="car-exterior">Black</p>
                            </div>
                        </div>

                        <a href="#"><button class="check-deal">Check Out Deal</button></a>
                    </div>

                    <div class="car-overview">
                        <div class="overview-right">
                            <h1 class="overview-title">Overview</h1>
                            <h1 class="confort">Confort :</h1>
                            <p class="seats">Leather Seats<br>Heated Seats</p>
                            <h1 class="entertainment">Entertainment :</h1>
                            <p class="tech">AM/FM Stereo<br>Bose Sound System<br>Bluetooth Technology<br>WiFi Hotspot</p>
                            <h1 class="mechanical">Mechanical :</h1>
                            <p class="engine-tpype">All Wheel Drive<br>Automatic Transmission</p>
                        </div>

                        <div class="certified-icon-div">
                        
                        </div>
                    </div>

                </div>
                <div class="slide">

                    <div class="car-card card-08">
                        <div class="card-img"></div>

                        <p class="car-condition">PRE-OWNED</p>

                        <h1 class="car-model">Porche Macan Base</h1>

                        <div class="car-details">
                            <div class="detail-div-right">
                                <p class="car-mileage">Mileage:</p>
                                <p class="car-exterior">Exterior:</p>
                            </div>

                            <div class="detail-div-left">
                                <p class="car-mileage">45,136</p>
                                <p class="car-exterior">Black</p>
                            </div>
                        </div>

                        <a href="#"><button class="check-deal">Check Out Deal</button></a>
                    </div>

                    <div class="car-overview">
                        <div class="overview-right">
                            <h1 class="overview-title">Overview</h1>
                            <h1 class="confort">Confort :</h1>
                            <p class="seats">Leather Seats<br>Heated Seats</p>
                            <h1 class="entertainment">Entertainment :</h1>
                            <p class="tech">AM/FM Stereo<br>Bose Sound System<br>Bluetooth Technology<br>WiFi Hotspot</p>
                            <h1 class="mechanical">Mechanical :</h1>
                            <p class="engine-tpype">All Wheel Drive<br>Automatic Transmission</p>
                        </div>

                        <div class="certified-icon-div">
                        
                        </div>
                    </div>

                </div>
            </div>
            <button class="prev" onclick="prevSlide()">❮</button>
            <button class="next" onclick="nextSlide()">❯</button>
        </div>

    </div>

    <div class="div-07-layout">

        <div class="div-07-body">
            <p class="title-div-07">SELL/TRADE IN</p>
            <h1 class="title-02-div-07">Real Offers, Really Fast.</h1>
            <p class="text-content-div-07">Sell or trade in your vehicle effortlessly with our streamlined process. Get instant, competitive offers without the wait. Your smooth and swift vehicle transaction starts here.</p>
            <a href="#"><button class="div-07-btn">Get Started</button></a>
        </div>
    </div>

    
    <script src="/static/js/index.js"></script>
</body>
</html>